apiBase/node_modules
Curso_practico_nodejs/node_modules
Curso_Practico_de_React_JS/holamundo/node_modules
Curso_Practico_de_React_JS/PlatziVideo/node_modules
Curso_Basico_de_GraphQL/platzi-graphl/node_modules
React_Udemy1/02-intro-javascript/node_modules
React_Udemy1/03-counter-app/node_modules
React_Udemy1/04-gif-expert-app/node_modules
React_Udemy1/05-hook-app/node_modules
React_Udemy1/07-heroes-app/node_modules
React_Udemy1/08-journal-app/node_modules
React_Udemy1/00-journal-app/node_modules
Fafs/beFafg/node_modules
01_Curso_de_React_Router_y_Redux/PlatziVideo_01/node_modules
Curso_de_Asincronismo_con_JavaScript/asincronismo/node_modules
Colegio/api/node_modules
MapBox/mapbox/node_modules
SeleniumNodejs/node_modules
skeleton/node_modules
qalifarm/api/node_modules
qalifarm/front/node_modules
PruebaWcf/SelfHost/bin
Platzi/platzi-nextjs-2-inicio-api/node_modules
Platzi/platzi-nextjs-2-inicio-api/.next
Platzi/platzi-nextjs-2-inicio-api/package-lock.json
Platzi/platzi-nextjs-2-inicio-api/yarn.lock