<div class="container">
    <div class="row">
        <div class="col">
            <label>Nombre Persona</label>
            <!-- Event Binding -->
            <!-- (input)="onModificarPersona($event)"> -->
            <input 
            type="text"
            class="form-control"
         [(ngModel)]="tituloPersona">
            {{tituloPersona}}
            <h1>Lista de personas</h1>
            <!-- property Binding -->
             <!-- Se debe de encerrar en parentesis para indicar que se trabaja con un evento -->
             <!-- DOM Document Objet Model arbol de objetos que contiene nuestra pagina html -->
            <button class="btn btn-primary" 
            [disabled]="!agregarPersona"
            (click)="onCrearPersona()">Agregar Persona</button>
            <p *ngIf="personaCreada; else sinPersona">{{agregarPersonaStatus}} con título {{tituloPersona}}</p>
            <ng-template #sinPersona>
                <p>No se ha registrado ninguna persona</p>
            </ng-template>
             <app-persona></app-persona>
            
        </div>
    </div>
</div>
